.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ecdfcc;
  font-family: 'BM HANNA_TTF', -apple-system, Roboto, Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3c3d37;
}

.inputContainer {
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
  gap: 10px;
  margin-bottom: 20px;
}

.codeInput {
  width: 40px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 4px;
}

.submitButton {
  padding: 14px 28px;
  font-size: 16px;
  background-color: rgba(60, 61, 55, 0.3);
  color: #000;
  border: 2px solid #000;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #8a8a8a;
}

.submitButton:focus {
  outline: 2px solid #5c5c5c;
  outline-offset: 2px;
}

.visually_hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.error {
  color: red;
  text-align: center;
}

@media (max-width: 600px) {
  .title {
    font-size: 20px;
  }

  .codeInput {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }

  .submitButton {
    font-size: 14px;
  }
}